BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "GB_ADDR[15]" SITE "B16" ;
IOBUF PORT "GB_ADDR[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_ADDR[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_CSN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_RDN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "USER_RST" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=NA ;
IOBUF PORT "GB_DATA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_DATA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_DATA[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_DATA[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_DATA[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_DATA[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_DATA[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "GB_DATA[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "GB_ADDR[14]" SITE "F14" ;
LOCATE COMP "GB_ADDR[13]" SITE "C15" ;
LOCATE COMP "GB_ADDR[12]" SITE "E16" ;
LOCATE COMP "GB_ADDR[11]" SITE "F16" ;
LOCATE COMP "GB_ADDR[10]" SITE "F15" ;
LOCATE COMP "GB_ADDR[9]" SITE "G15" ;
LOCATE COMP "GB_ADDR[8]" SITE "H15" ;
LOCATE COMP "GB_ADDR[7]" SITE "J15" ;
LOCATE COMP "GB_ADDR[6]" SITE "J14" ;
LOCATE COMP "GB_ADDR[5]" SITE "K16" ;
LOCATE COMP "GB_ADDR[4]" SITE "L16" ;
LOCATE COMP "GB_ADDR[3]" SITE "M16" ;
LOCATE COMP "GB_ADDR[2]" SITE "N16" ;
LOCATE COMP "GB_ADDR[1]" SITE "N14" ;
LOCATE COMP "GB_ADDR[0]" SITE "K13" ;
LOCATE COMP "GB_DATA[7]" SITE "J16" ;
LOCATE COMP "GB_DATA[6]" SITE "K15" ;
LOCATE COMP "GB_DATA[5]" SITE "K14" ;
LOCATE COMP "GB_DATA[4]" SITE "L15" ;
LOCATE COMP "GB_DATA[3]" SITE "M15" ;
LOCATE COMP "GB_DATA[2]" SITE "L14" ;
LOCATE COMP "GB_DATA[1]" SITE "M14" ;
LOCATE COMP "GB_DATA[0]" SITE "K12" ;
IOBUF PORT "LED_RST" IO_TYPE=LVCMOS33 ;
IOBUF PORT "BTA_OEN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "BTD_OEN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "BTD_DIR" IO_TYPE=LVCMOS33 ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
VCCIO_DERATE PERCENT 0; 
FREQUENCY PORT "GB_CLK" 2.000000 MHz CLOCK_JITTER 1.000000 ns ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE CONFIGURATION=CFG COMPRESS_CONFIG=OFF ;
VOLTAGE 2.375 V;
IOBUF PORT "LED_GB_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_WB_CLK" IO_TYPE=LVCMOS33 ;
LOCATE COMP "GB_CLK" SITE "H14" ;
LOCATE COMP "LED_RST" SITE "H11" ;
LOCATE COMP "LED_GB_CLK" SITE "J13" ;
LOCATE COMP "LED_WB_CLK" SITE "J11" ;
IOBUF PORT "LED_OFF[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_OFF[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_OFF[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_OFF[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_OFF[4]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LED_OFF[4]" SITE "L12" ;
LOCATE COMP "LED_OFF[3]" SITE "K11" ;
LOCATE COMP "LED_OFF[2]" SITE "L13" ;
LOCATE COMP "LED_OFF[1]" SITE "N15" ;
LOCATE COMP "LED_OFF[0]" SITE "P16" ;
BLOCK NET "GND_net" ;
BLOCK NET "VCC_net" ;
LOCATE COMP "BTA_OEN" SITE "G14" ;
LOCATE COMP "BTD_OEN" SITE "T14" ;
LOCATE COMP "BTD_DIR" SITE "G16" ;
LOCATE COMP "GB_CSN" SITE "T12" ;
LOCATE COMP "GB_RDN" SITE "R13" ;
FREQUENCY NET "wb_clk" 53.200000 MHz PAR_ADJ 1.000000 ;
IOBUF PORT "SPI_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPI_CSN" IO_TYPE=LVCMOS33 ;
LOCATE COMP "USER_RST" SITE "R11" ;
USE PRIMARY NET "wb_clk" ;
IOBUF PORT "GB_RESETN" IO_TYPE=LVCMOS33 ;
