BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MASTER_SPI_PORT=ENABLE ;
BANK 0 VCCIO 1.8 V;
BANK 1 VCCIO 1.8 V;
BANK 2 VCCIO 1.8 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
IOBUF PORT "CLK_EN" IO_TYPE=LVCMOS18 ;
IOBUF PORT "FPGA_SPI_FLASH_CSN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_SPI_RTC_CSN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_SPI_SD_CSN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_BUS_EN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_RSTN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RAM_ADVN" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_A[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_A[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_A[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_A[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_A[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_A[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_CE0N" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_CE1N" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_CLK" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_CRE" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_LBN" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_OEN" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_UBN" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_WEN" IO_TYPE=LVCMOS18 ;
IOBUF PORT "FPGA_SPI_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_SPI_MISO" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_SPI_MOSI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_USER[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_USER[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_USER[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_USER[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_USER[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_USER[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_DATA[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_DATA[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_DATA[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_DATA[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_DATA[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_DATA[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_DATA[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GB_DATA[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RAM_ADQ[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[8]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[9]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[10]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[11]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[12]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[13]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[14]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "RAM_ADQ[15]" IO_TYPE=LVCMOS18 ;
